/.env.example
/.venv
/__pycache__
controllers/__pycache__
models/__pycache__
data/embeddings/OpenAIEmbeddingModel_1742222846/embeddings.npy
data/embeddings/OpenAIEmbeddingModel_1742222846/metadata.json
data/embeddings/OpenAIEmbeddingModel_1742222846/texts.json
data/models/natureza_classifier_openai/knn_model.pkl
data/models/natureza_classifier_openai/model_data.pkl
data/models/natureza_classifier_openai/model_info.json
data/natureza/code_mappings.json
data/natureza/natureza_despesa.csv
data/natureza/natureza_despesa.pkl
data/natureza/natureza_despesa.xlsx
data/Relação_natureza_x_descrição_x_descrição_PDF.xlsx
models/__pycache__/openai_model.cpython-310.pyc
data/uploads/
data/ipof_html/
utils/__pycache__/
data/siafic_exports/
data/models/
data/embeddings/
models/__pycache__/gemini_model.cpython-310.pyc
models/__pycache__/claude_model.cpython-310.pyc
controllers/__pycache__/chat_controller.cpython-310.pyc
models/__pycache__/claude_model.cpython-310.pyc
models/__pycache__/gemini_model.cpython-310.pyc
controllers/__pycache__/chat_controller.cpython-310.pyc
data/training/mcasp/
data/training/MCASP - 10ª Edição.pdf
data/mcasp_oficial.json
data/subelementos_goias_processados.json
data/natureza/mcasp_oficial.json
data/natureza/naturezas_por_elemento.csv
data/natureza/naturezas_por_elemento.xlsx
data/natureza/subelementos_goias_processados.json
data/markdown/
data/models/OpenAIModel_20250313_144657
data/texto
data/training
models/__pycache__
data/natureza/naturezas_por_elemento_bkp.csv
data/natureza/naturezas_por_elemento_base.csv
data/natureza/naturezas_por_elemento (modelo).csv
app teste.py
